.dropdownTitle {
  padding: 0.25rem 0.3rem 0.3rem 0.5rem;
  height: rem(37px);
  border-radius: rem(3px);
  border: 1px solid var(--border-primary);

  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropdownMenu {
  padding: 0.25rem 0 0.4rem 0.5rem;
  position: absolute;

  background-color: var(--background-secondary);
  border: 1px solid var(--border-secondary);
  border-radius: rem(3px);
}
